<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>


<form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
    <input type="hidden" th:field="*{service}" />
    <p th:if="${#fields.hasErrors('error')}" th:errors="*{error}" style="color: red">error Error</p>
    <p>Email Or Username: <input type="text" th:field="*{userName}" /></p>
    <p>Password: <input type="password" th:field="*{password}" /></p>
    <p><input type="submit" value="Submit" /> </p>
</form>
</body>
</html>